.tstyle {
  color: #333;
  font-family: roboto;
  text-rendering: optimizeLegibility;
}

.paragraph {
  font-size: 20;
  margin: 5;
  text-align: justify;
}

.leftbar {
  margin: 0;
  padding: 0;
  width: 400px;
  position: fixed;
  height: 98%;
  overflow: auto;
  text-align: center;
}

.rightpane {
  margin-left: 420px;
  padding: 0;
}

.headshot {
  width: 250px;
  height: 250px;
  float: middle;
}

.demoimg {
  width: 550px;
  box-shadow: 2px 2px 5px grey;
}

table {
  background-color: #eee6e6;
}

td {
  padding: 10px;
}

h1 {
  text-decoration: underline;
  font-size: 54;
}

h2 {
  font-size: 44;
}

h3 {
  font-size: 40;
}

h4 {
  font-size: 32;
  margin-left: 80;
}

h5 {
  font-size: 24;
  font-style: italic;
  font-weight: normal;
}


body {
  background-color: #eee7e7;
  padding: 1px;
}

p, ul {
  font-size: 24;
  text-align: left;
}

td {
  vertical-align: top;
}
